<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kirby Walls - Software Engineer</title>

        <!-- CSS Reset -->
        <link href="../css/reset.css" rel="stylesheet" />

        <!-- App's own CSS -->
        <link href="../css/styles.css" rel="stylesheet" />

        <!-- jQuery -->
        <script src="../js/jquery-3.1.1.min.js"></script>

        <!-- App's own logic -->
        <script src="../js/scripts.js"></script>
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li>
                    Resume
                </li>
                <li>
                    Contact
                </li>
            </ul>
        </nav>
        <h1>Hey!</h1>
        <p>
            <span class="introduction">I'm Kirby Walls.</span> I’m a budding software engineer in Oakland, California. I’m currently excited about and studying JavaScript and the mammoth ecoysystem of frameworks and tools built for it.
        </p>
        <p>
            I love the combination of creativity and technical problem solving that programming brings, and I want to use my skills to make a difference.
        </p>
        <p class="directive">
            Check out my work below
        </p>
    </body>
</html>
