/* ** ** ** ** **
**
** GLOBAL STYLES
**
** ** ** ** ** */

/* Import Open Sans and Roboto */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500,700');

body {
    background-color: #2C4158;
    font-family: 'Open Sans', san-serif;
    font-size: 1em;
    color: #fff;
    
    /* Font smoothing for webkit and Firefox, per:
    https://davidwalsh.name/font-smoothing */
    
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #fff;
    transition: color .3s ease;
}

.white-link:hover {
    color: #B8E986;
}

.black-link:hover {
    color: #B04DEC;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards, fadein 2s;
}

@keyframes come-in {
  to { transform: translateY(0) }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Make all "page" sections fullscreen (the full height of the viewport) */
.content-section {
    height: 100vh;
    width: 100%;
    display: block;
    /*padding: 5% 0 0;*/
    box-sizing: border-box;
}

/* ** ** ** ** **
**
** LANDING PAGE
**
** ** ** ** ** */

/*.landing {*/
/*    background: radial-gradient(circle, #2C4158 0%, rgba(31,35,53,0.5) 100%), radial-gradient(circle, #0A1A2F 0%, #12114F 100%);*/
/*}*/

.menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    max-width: 1000px;
    width: 74%;
    margin: 0 auto;
    padding: 8% 0 0;
}

/* Line up the nav items horizontally */
.menu li {
    display: inline-block;
}

.contact-link {
    margin-left: 60px;
}

.landing-wrapper {
    max-width: 700px;
    width: 60%;
    margin: 5% auto 0;
}

.welcome-head {
    margin: 5% auto 0;
    /*max-width: 700px;*/
    /*width: 60%;*/
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.667em;
}

.copy {
    margin: 0 auto;
    /*max-width: 700px;*/
}

p {
    color: #A49E9E;
    margin: 5% 0;
}

.highlight {
    color: #fff;
}

/* ** ** ** ** **
**
** PROJECT 1
**
** ** ** ** ** */

.project1 {
    /*background: radial-gradient(circle, #E6EAF0 0%, #D3D9E1 100%);*/
    padding-top: 20%;
}

.project1 p {
    color: #474444;
}

.project-container {
    margin: 0 auto;
    /*padding: 10% 0 0;*/
    max-width: 1100px;
    width: 70%;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  
  /* Star property CSS hack to target IE 6 and 7. Necessary? Idk... */
  *zoom: 1;
}

.column {
    float: left;
    width: 47%;
}

.one {
    margin-right: 3%;
}

.two {
    margin-left: 3%;
}

.proj-copy {
    max-width: 90%;
}

.external-link {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: rgba(66, 85, 109, 0.5);
}

.mockup {
    padding-top: 10%;
}

.macbook {
    width: 100%
}

.logos {
    margin: -15% auto 0;
}

.img-logos {
    margin: 0 auto 0 60%;
    display: inline-block;
    width: 30%;
}

/* ** ** ** ** **
**
** CONTACT PAGE
**
** ** ** ** ** */

.contact {
    /*background-color: #fff;*/
        padding-top: 15%;
}

.contact-copy {
    margin: 0 auto;
    max-width: 700px;
}

.highlight-black {
    color: #474444;
}

.black {
    color: #474444;
}

.social {
    margin: 10% auto 0;
    max-width: 15%;
}

.social a {
    color: #474444;
}

.column-4 {
    width: 22%;
    margin: 1.5%;
    float: left;
}

/* ** ** ** ** **
**
** MEDIA QUERIES
**
** ** ** ** ** */

@media only screen and (max-width: 768px) {
    .landing {
        max-width: 85%;
    }
    
    .landing-wrapper {
        max-width: 700px;
        width: 75%;
        margin: 5% auto 0;
    }
    
    .welcome-head {
        margin-bottom: 5%;
    }
    
    .menu {
        max-width: 1000px;
        width: 100%;
        margin-left: 7%;
        margin-bottom: 15%;
    }
    
    .landing .copy {
        /*margin-left: 16%;*/
    }
    
    .img-logos {
        visibility: hidden;
    }
    
    .column {
        width: 100%;
        margin: 0 auto;
    }
    
    .social {
        max-width: 50%;
        margin: 20% auto 0;
    }
    
    .come-in {
      transform: translateY(0px);
    }
    
    .contact {
        margin-top: 40%;
        padding-top: 25%;
    }
    
    .contact-copy {
        max-width: 70%;
    }
}

